<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>links}}

    <title>About US</title>

</head>
<body>

    {{>navbar}}

    <div class="about">
        <div class="container-fluid main_cont" style="min-height: 100vh;padding: 0px;margin-top: -32px;">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
    
                        <div class="col-md-6 col-12 main_cont_right">
                            <figure>
                                <img id="fig" src="images/about.jpg" alt="" style="width: 100%;object-fit: contain;border-radius: 10px;">
                            </figure>
                        </div>

                        <div class="col-md-6 col-12 main_cont_left" style="padding: 50px;display: flex;flex-direction: column;justify-content: space-evenly;">
                            <h1 style="width: max-content;padding: 0 20px;color:white;background-color: #3f578a;border-radius: 
                            50px;">Who Am I ?</h1>
                            <h5 style="padding: 0 20px;color: blueviolet;">No one specific.</h5>
                            <h3 style="padding: 0 20px;color: rgb(71, 255, 47);">I could be anyone...</h3>
                            <h6 style="padding: 0 20px;color: rgb(128, 128, 128);">...yet no one</h6>
                            <h2 style="padding: 0 0 0 20px;color: rgb(255, 0, 0);">at present a noob web dev/designer</h2>
                            <a href="https://www.google.com/" target="_" style="width: max-content;margin: 10px 0 0 10px;color: rgb(110, 255, 255);text-decoration: none;font-weight: 500;background-color: rgb(255, 145, 0);padding: 0 10px;border-radius: 50px;">More About Me</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    {{>js}}

</body>
</html>