<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>links}}
    <title>Symptoms</title>
</head>

<body>
    {{>navbar}}
    <div>
        <div
            style="background-color:rgb(169, 255, 169);padding: 20px;margin: -22px 0 0 0;display: flex;justify-content: space-evenly;">
            <div style="width: 50%;">
                <div
                    style="height: 100%;font-size: 2rem;font-weight: 500;display: flex;justify-content: center;align-items: center;text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">
                    Though these may also mean some other conditions, nonetheless start taking precautions</div>
            </div>
            <div style="width: 40%;">
                <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Less Common
                    Symptoms:</h3>
                <ul style="font-size: 1.35rem;font-weight: 400;">
                    <li>Aches and Pains</li>
                    <li>Sore Throat</li>
                    <li>Diarrhoea</li>
                    <li>Conjunctivitis</li>
                    <li>Headache</li>
                    <li>Loss of Taste or Smell</li>
                    <li>a rash on skin, or discolouration of fingers or toes</li>
                </ul>
            </div>
        </div>
        <div
            style="background-color: rgb(255, 224, 123);padding: 20px;margin-top: 10px;display: flex;justify-content: space-evenly;">

            <div style="width: 40%; display: flex;justify-content: center;">
                <div>
                    <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        Most Common
                        Symptoms:</h3>
                    <ul style="font-size: 1.35rem;font-weight: 400;">
                        <li>Fever</li>
                        <li>Dry Cough</li>
                        <li>Tiredness</li>
                    </ul>
                </div>
            </div>
            <div style="width: 50%;">
                <div
                    style="height: 100%;font-size: 2rem;font-weight: 500;display: flex;justify-content: center;align-items: center;text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">
                    Consult a doctor and regularly monitor your health conditions</div>
            </div>
        </div>
        <div
            style="background-color: rgb(255, 113, 113);padding: 20px;margin: 10px 0;display: flex;justify-content: space-evenly;">
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Serious Symptoms:
                </h3>
                <ul style="font-size: 1.35rem;font-weight: 400;">
                    <li>difficulty breathing or shortness of breath</li>
                    <li>chest pain or pressure</li>
                    <li>loss of speech or movement</li>
                </ul>
                <div
                    style="height: 100%;font-size: 2rem;font-weight: 500;display: flex;justify-content: center;align-items: center;text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">
                    Seek Immediate Medical Attention</div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>js}}
</body>

</html>